#wrapper {
  font-family: "Roboto Mono", monospace;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
.loading {
  position: relative;
  background-color: rgba(116, 52, 219, 0.3);
}

.loading:before {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 35%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: #6537af;
  animation: spinny 1s linear infinite;
}

@keyframes spinny {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.films-information {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 5px;
}
.film-information {
  /* font-style: italic; */
  font-weight: 400;
  border: 2px solid #7434db;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
.films-characters {
  column-count: 3;
}
.characters {
  font-style: italic;
}
