/* Модальне вікно */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Контент модального вікна */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* Закриваючий хрестик */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Chirp", sans-serif;
  /* font-family: "ChirpExtended", sans-serif; */
  height: 20em;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}
h2 {
  margin: 0;
}
/* svg {
  text-align: center;
  display: block;
} */
.r-1cvl2hr {
  color: rgb(29, 155, 240);
  display: block;
  margin: auto;
}
.r-lwhw9o {
  height: 3rem;
}

.r-yyyyoo {
  fill: currentcolor;
}
#posts-container {
  background-color: #555;
}
.card_wrap {
  /* column-count: 3; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card_user {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(29, 155, 240);
  margin-bottom: 5px;
  /* text-align: center; */
  padding: 15px;
  position: relative;
}
.user_title {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
.user_name {
  align-self: center;
  font-weight: 800;
  font-size: 16px;
}
.user_email {
  align-self: center;
  color: rgba(73, 73, 73, 0.507);
  text-decoration: none;
}
.user_post-title {
  margin-left: 60px;
  font-weight: 700;
}
.user_post-text {
  margin-left: 60px;
}

.card_delete-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.loading {
  position: relative;
  background-color: rgba(116, 52, 219, 0.3);
}

.loading:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 40%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid rgba(0, 0, 0, 0.2);
  border-top-color: #6537af;
  animation: spinny 1s linear infinite;
}

@keyframes spinny {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
